autopep8==1.2.4
bottle==0.12.13
numpy==1.12.0
matplotlib==2.0.0
opencv-python==3.1.0.5
pandas==0.19.2
pep8==1.7.0
Pillow==4.0.0
pyflakes==1.5.0
scikit-image==0.12.3
scikit-learn==0.18.1
scipy==0.18.1
